language: php
php:
- '5.4'
- '5.3'
before_install:
- ls -l /tmp
before_script:
- php -v
script:
- php -i
notifications:
  hipchat:
    rooms:
      secure: HfLrJg0Rq0v5evNTUDso2Xr/PVYmxZL445sga+bPLftDfeYXbaIQTiFV9JRqA8Oq5He40zjNckp5OoD2z2mfcxvywTg0bj4QxlrYBxpsXJC6+Pl1kPjJ1eVfFoUSBTJyLIaY8/EEaDEfmDZ80lakaBvaM056JBE7pECUhra1+BE=
